*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* navbar style starts here */
.navbar{
    display: flex;
    justify-content: center;
    background-color: greenyellow;
}

.navbar ul{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar ul  li{
    list-style-type: none;
}
.navbar ul li a{
    padding: 50px;
    margin: 0px 30px 0;
    text-decoration: none;
    color: blueviolet;
    font-size: 30px;
    font-weight: 800;
}

/* navbar style ends here */

/* Introduction section style started */
.introduction{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
    color: blueviolet;
}
.fullPic> img{
   height: 400px;
}
.name{
   font-size: 50px;
   
}

.department{
    color: rgba(111, 138, 111, 0.5);
    padding-bottom: 10px;
}

.university{
    font-size: 30px;
    padding: 30px 0px 20px;
}

.cv{
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: orange;
    border-color:greenyellow ;
    border: 0;

}

.cv a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 500;
}

/* Introduction section style ended */

/* education section style started */
.educ{
    background-color: gray;
    color: white;
   
}
.edu{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    color: antiquewhite;
    margin-bottom: 20px;
    
}
.education {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    padding: 0 0 30px;
}

.education div{
    padding: 30px;
    width: 33%;
    border: 1px solid aqua;
    margin: 5px;
}
/* education section style ended */

/* skills style started here */
.skil h3{
    font-size: 30px;
}
.skil{
    background-color: yellow;
    padding-top: 20px;
}
.skil>h3{
    text-align: center;
    font-size: 40px;
}
.skills{
    display: flex;
    padding: 30px;
}

.skills div{
    padding: 5px 20px 5px;
}
.htm{
    font-size: 30px;
    padding-bottom: 5px;
}
.htmlDetail{
    font-size: 20px;
}

.cs{
    font-size: 30px;
    padding-bottom: 5px;
}
.cssDetail{
    font-size: 20px;
}
.java{
    font-size: 30px;
    padding-bottom: 5px;
}
.javaDetail{
    font-size: 20px;
}
/* skills style ended here */

/* Experience style started */
.exp{
    background-color: antiquewhite;
}
.exp>h3{
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    color: #000;
}
.powerland{
    justify-content: center;
}
.experience{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    padding: 30px;
}

/* Experience style ended */

/* Goal Section Started */
.target{
    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 30px;
}
.target h3{
    font-size: 40px;
}
.goal{
    font-size: 20px;
}
/* Goal Section Ended */

/* footer style Started */
.footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.contact{
    font-size: 30px;
}
.send{
    padding: 10px;
    font-size: 15px;
    background-color: forestgreen;
    border: none;
    border-radius: 30px;
    color: white;
}
.copyright{
    text-align: center;
    padding: 10px 0 10px;
}
/* footer style ended */